@model StudyIt.Web.ViewModels.GroupAdminCategoryDeleteViewModel

@{
    ViewBag.Title = "Изтрий категория";
}

<h2>Delete</h2>

<h3>Сигурни ли сте, че искате да го изтриете?</h3>
<fieldset>
    <legend>Категория</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GroupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Изтрий" /> |
    </p>
}
