<ul class="menu">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="/groups/choose/">Групи</a></li>
        <li><a href="/testresult/show/">Резултати/a></li>
        <li><a href="/trainer/">Обучаващ</a></li>
        if (User.IsInRole("GroupAdmin"))
        {
        <li><a href="/groupadmin">Групов админ</a></li>
        }
        else if (!User.IsInRole("Admin"))
        { 
        <li><a href="/group-admin/become">Заявка за групов админ</a></li>
        }
        if (User.IsInRole("Admin"))
        {
        <li><a href="/groupadmin">Групов админ</a></li>
        <li><a href="/admin">Админ</a></li>
        }

    }
    else
    { 
        <li><a href="/groups/public">Публични групи</a></li>
    }
</ul>
