@{
    ViewBag.Title = "Choose";
}

<ul class="menu">
    <li><a href="/groups/public">Публични</a></li>
    <li><a href="/groups/member-of">На които си член</a></li>
    <li><a href="/groups/not-member-of">На които не си член</a></li>
</ul>
