@model List<StudyIt.Web.ViewModels.AdminGroupAdminsQueriesViewModel>

@{
    ViewBag.Title = "Заявки за групов админ";
}

<ul class="ul-unstyled z-padding">
    @foreach (var query in Model)
    {
        <li>@query.Name "@query.Message" - <a href="/admin/groupadmins/create/@query.Id">Направи групов админ</a>, <a href="/admin/groupadmins/deletequery/@query.Id">Откажи</a></li>
    }
</ul>
