@{
    ViewBag.Title = "Обучаващ";
}
<ul class="menu">
    <li><a href="/trainer/lesson">Уроци</a></li>
    <li><a href="/trainer/test/">Тестове</a></li>
    <li><a href="/trainer/testresults/show">Резултати от тестовете</a></li>
</ul>
