@{
    ViewBag.Title = "Админ";
}

<ul class="menu">
    <li><a href="/admin/groupadmins/show">Групови админи</a></li>
    <li><a href="/admin/groupadmins/queries">Заявки за групови админ</a></li>
</ul>
